<div class="container">
<h1>My Cocktails</h1>

<ul id="Cocktails">
  <% @cocktails.each do |cocktail| %>
    <ul>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
        <div class="card-product-infos">
          <h2>Cocktail.name</h2>
          <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
        </div>
      </div>
    </ul>
  <% end %>
</ul>

<hr>

<%= link_to new_cocktail_path do %>
  <i class="fa fa-plus"></i> Add a new cocktail
<% end %>
</div>

